* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    overflow-x: hidden;

}


header {
    width: 100vw;
    min-height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    & .background {
        display: flex;
        justify-content: center;
        align-items: center;
        top: -20px;

        left: -20px;
        width: calc(100% + 40px);

        min-height: calc(100% + 40px);
        background-image: url("./../assets/background2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(10px);
        position: absolute;
        z-index: -1;

        & .overlay {

            position: absolute;

        }

    }

    & .img-center {
        width: 70vw;
        height: 70vh;
        background-image: url("./../assets/background2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        z-index: 1;


        & h2 {
            transform: translate(0, -50%);
            color: #F1F1F1;
            text-align: center;
            font-size: 35px;
            font-weight: 200;

            & span {

                font-size: 38px;
            }
        }


    }



}

.blue {
    color: #F6AE2D;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.59);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


div.buttons {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.5rem;
        height: 2.2rem;
        font-weight: bold;
        font-size: 14px;
        border-radius: 5px;

        &.sm-btn {
            background-color: white;

        }

        &.ic-btn {
            background-color: #F6AE2D;
            color: white;
        }

        &:hover {
            cursor: pointer;
            filter: brightness(60%);
        }
    }
}


nav {

    align-self: flex-start;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    background-color: #0f0f0f;

    & .logo {

        z-index: 4;
        height: 10vh;
        width: 200px;
        background-image: url("./../assets/logo.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    & .list {
        justify-content: center;
        display: flex;
        list-style: none;
        gap: 45px;
    }

    & .cta {
        display: flex;

        & a {
            color: white;
            text-decoration: none;
            margin-right: 80px;
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {
                filter: brightness(80%);
            }
        }
    }
}


section.sobre-empresa {
    position: relative;
    margin-top: -40px;
    background-color: #0f0f0f;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    align-items: center;
    padding: 40px;

    & img {
        margin-left: 30px;
        width: 26%;
    }

    & .descricao-sobre {
        display: flex;
        flex-direction: column;

        justify-content: center;
        color: #F1F1F1;
        text-align: left;
        min-height: 600px;
        width: 50%;


        & h2 {

            font-size: 35px;

            & strong {
                color: #F6AE2D;
            }
        }

        & p {
            color: #c9c7c7;
            margin-top: 35px;
            font-size: 16px;
        }
    }
}


div.intersection {

    width: 100%;
    min-height: 110vh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("./../assets/background-sobre.png");
    background-size: cover;
    background-position: bottom;
}

div.qualitys {
    width: 100%;
    margin-top: 80px;
    min-height: 130vh;



    & h1 {
        text-align: center;
        padding: 40px;
        font-size: 40px;
        font-weight: bold;
        color: #0f0f0f;

        & strong {
            color: #F6AE2D;
        }
    }

    & p {
        margin-top: 50px;
        color: #0f0f0f;
        text-align: center;
        font-size: 20px;


    }
}

div.qualitys-sec {
    margin-top: 80px;
    gap: 40px;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

div.quality-unique {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 350px;



    & img {

        width: 22%;
    }

    & h2 {
        margin-top: 30px;
        font-size: 25px;
        color: #141414;
        font-weight: 900;


    }

    & p {
        color: #000000;
        margin-top: 30px;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        text-align-last: left;
        max-width: 360px;

        hyphens: auto;
        overflow-wrap: break-word;
        line-height: 1.6;

    }
}


.services {
    z-index: 4;
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.services>h2 {
    margin-top: 50px;

    text-align: center;
    color: #F1F1F1;
    max-width: 2000px;
    font-size: 40px;
}

.services>h2>strong {
    color: #F6AE2D !important;
}

.investimentos-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.investimento-unique {
    width: 100%;

    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.investimento-unique .texto {
    color: #F1F1F1;
    margin-top: 0;

}

.investimento-unique .texto h2 {
    max-width: 600px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;

    & strong {
        color: #F6AE2D;
        font-weight: bold;
    }
}

.investimento-unique .texto p {
    text-align: left;
    max-width: 700px;
    color: #F1F1F1;
    font-size: 20px;
    font-weight: 200;
}

.investimento-unique img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;

}

.investimento-unique:nth-child(odd) {
    flex-direction: row-reverse;

}

.investimento-unique:nth-child(odd) img {
    margin-right: 60px;
}

.investimento-unique:nth-child(even) {
    flex-direction: row;
}

.investimento-unique:nth-child(even) img {
    margin-left: 0px;
}



div.consultoria {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./../assets/background-sobre.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #0f0f0f;


    & .over {
        background-color: rgba(255, 255, 255, 0.2) !important;
        width: 100%;
        min-height: 100vh;
        padding: 50px;
    }

    & h2 {
        text-align: left;
        margin-top: 50px;
        font-weight: bold;

        font-size: 44px;

        & strong {
            color: #F6AE2D;
        }
    }

    & p {
        margin-top: 50px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;

        font-size: 18px;
    }


}

.wrapper {
    position: relative;
}

.arrow {
    position: absolute;
    left: 48%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-image: url("./../assets/arrowdown.png");
    background-size: cover;
    z-index: 10;
}

div.planos-container {
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;


    gap: 35px;
}

div.planos-unique {
    width: 320px;
    height: 530px;
    background-color: white;
    border-right: 8px solid rgb(226, 226, 226);

    & h2 {
        background-color: #F6AE2D;
        border-radius: 20px;
        padding: 5px 11px;
        text-align: left;
        font-size: 22px;
        margin: 20px;
        min-width: 60px;
        max-width: fit-content;
        font-weight: 700;
    }

    & p {
        margin-top: 20px;
        margin-left: 20px;
        max-width: 260px;
        text-align: left;
        font-size: 13px;
        color: #222222;
    }


    & ul {
        margin: 20px;
        list-style: circle;
        font-size: 13px;
        color: #222222;
        text-align: left;

        & li {
            color: #222222;
            font-weight: 300;
            margin-top: 10px;

            & b {
                margin-left: 12px;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }


}

div.price {
    width: 100%;
    display: flex;
    margin-right: 20px;
    justify-content: start;

    & h1 {
        margin: 20px;
        font-size: 40px;
        text-align: left;
        font-weight: 700;
    }

    & p {
        margin-left: 0;
        text-align: left;
        line-height: 23px;
    }
}


a.btn-as {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    background-color: #0f0f0f;
    color: white;
    max-width: fit-content;
    padding: 9px 23px;
    margin-top: 40px !important;
}


.footer {
    width: 100vw;
    height: 50vh;
    background-color: #161615;
    display: flex;
    align-items: center;
}

div.social-media {
    display: flex;
    flex-direction: column;

    & h2 {
        font-weight: bold;
        color: white;
        font-size: 20px;
    }

    & ul {
        display: flex;
        gap: 10px;
        flex-direction: row;

        & li {
            border-radius: 100%;
            border: 1px solid white;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {


                width: 32px;
                height: 32px;
            }
        }
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;


    justify-content: center;
    gap: 100px;





    & .logo {
        background-image: url("./../assets/logo.png");
        width: 256px;
        height: 256px;
        background-size: contain;
        background-repeat: no-repeat;
    }


}

& ul {

    display: flex;
    flex-direction: column;

    align-items: start;

    & h2 {
        font-weight: bold;
        color: white;
        font-size: 20px;

    }

    & li {

        color: #e0dfdf;
        margin-top: 20px;
        font-size: 12px;
    }
}


.login-container,
.cadastro-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.login-welcome,
.cadastro-welcome {
    width: 30%;
    height: 70%;
    background: rgb(246, 174, 45);
    background: rgb(255, 187, 132);
    background: linear-gradient(0deg, rgb(250, 202, 114) 13%, rgba(246, 174, 45, 1) 57%);
    display: flex;
    flex-direction: column;
    position: relative;

    background-position: left;
    background-size: cover;
    align-items: center;


    & h2 {
        margin-top: 10rem;
        font-weight: bold;
        color: #0f0f0f;
        font-size: 30px;

    }

    & p {
        text-align: center;
        margin-top: 30px;
        max-width: 90%;
        font-size: 14px;

    }

    & a {
        text-decoration: none;
        padding: 8px 30px;
        border-radius: 18px;
        border: 3px solid #0f0f0f;
        background-color: #0f0f0f;
        color: white;
        margin-top: 30px;
        font-weight: bold;
    }
}



.login-box,
.cadastro-box {
    width: 35%;
    height: 70%;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;

    align-items: center;
    flex-direction: column;

    & h2 {
        margin: 40px 45px;
        font-size: 35px;
        align-self: flex-start;
        font-weight: 500;
        text-align: left;
        color: #0f0f0f
    }


    & a {
        text-decoration: none;
        font-size: 20px;
        width: 85%;
        padding: 12px;
        text-align: center;
        border-radius: 30px;
        color: #0f0f0f;
        background-color: #F6AE2D;
    }


}

div.login-sec {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;

    & input {
        padding: 20px;
        width: 87%;
        height: 48px;
        background-color: #e6e6e6;
        border: 1px solid #c7c7c7;
        border-radius: 50px;

    }

    & input:focus {
        outline: none;
    }


    & label {
        margin-bottom: 8px;
        font-weight: 700;
        margin-left: 40px;
        align-self: flex-start;
    }


}

.cadastro-box>a {
    width: 90%;
    padding: 8px;
    margin-top: 20px;
}

div.cadastro-box>form {
    width: 100%;

}

div.cadastro-sec {
    width: 100%;
    display: flex;

    margin-bottom: 10px;
    align-items: center;
    flex-direction: column;

    & input {
        width: 87%;
        padding: 20px;
        height: 48px;
        background-color: #e6e6e6;
        border: 1px solid #c7c7c7;
        border-radius: 50px;
        outline: none;
    }

    & input:focus {
        outline: none;
    }


    & label {
        margin-bottom: 8px;
        font-weight: 700;
        margin-left: 40px;
        align-self: flex-start;
    }


}

.cadastro-welcome {
    height: 80%;
}

.cadastro-box {
    height: 80%;
}

div.input-container {
    width: 87%;
    background-color: #e6e6e6;
    border: 1px solid #c7c7c7;
    border-radius: 30px;
    display: flex;
    align-items: center;

    & input {

        padding: 20px;
        width: 420px;
        height: 40px;
        background-color: #e6e6e6;
        outline: none;
        border: none;
        border-radius: 50px;
    }

    & button {
        background-color: #e6e6e6;
        border: none;
        height: 48px;
        width: 12%;
    }

    & input:focus {
        outline: none;
    }


}